{% extends 'base.html.twig' %}

{% block body %}
<h1> Inscription   </h1>
{{ form_start(form) }}
{{ form_row(form._token) }}
{{ form_row(form.username, {'label' : 'Nom d\'utilisateur','attr': {'placeholder' : 'Nom d\'utilisateur..'}}) }}
{{ form_row(form.password, {'label' : 'Mot de passe','attr': {'placeholder' : 'Mot de Passe...'}}) }}
{{ form_row(form.submit, {'attr': {'class' : 'btn btn-success'}}) }}
{%  endblock   %}