{% extends 'base.html.twig' %}

{% block body %}
<h1> Inscription   </h1>
{{ form_start(form) }}
{{ form_row(form._token) }}
{{ form_row(form.username, {'label' : 'Nom d\'utilisateur','attr': {'placeholder' : 'Username...'}}) }}

{{ form_row(form.email, {'label' : 'Adresse Email','attr': {'placeholder' : 'Adresse mail...'}}) }}

{{ form_row(form.password, {'label' : 'Mot de passe','attr': {'placeholder' : 'Mot de Passe...'}}) }}

{{ form_row(form.confirm_password, {'label' : 'Confirmation du mot de passe','attr': {'placeholder' : 'Confirmation du mot de passe...'}}) }} 


<button type "submit" class "btn btn-success">Inscription  </button>
{%  endblock   %}