{% extends 'base.html.twig' %}

{% block title %}Ajout d'une ressource{% endblock %}

{% block body %}

<div class="w-50 mx-auto my-3">
    <h1>Publier une ressource</h1>
    {{form(form)}}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.contenu) }}

        {{ form_row(form.Publier) }}

    {{ form_end(form) }}

</div>
{% endblock %}
