{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>

</style>

<h1 class="text-center">Liste des ressources</h1>
<div class="ressource-list text-center">



{% for ressource in ressources %}
    {% set media =  asset('uploads/medias/' ~ ressource.media) %}
    {% set ressourceId =  ressource.id %}
    {% set ext =  extension[ressourceId] %}
    <hr>
        <div class="ressource">
            <h2>{{ ressource.titre }}</h2>
            <p>{{ ressource.contenu }}</p>
            {% if ext == "jpeg" or ext == "jpg" or ext == "png" or ext == "gif" %}
                <img src="{{ media }}" alt="post media" height="auto" width="500">

            {% elseif ext == "mp4" %}
                <video controls width="500" height="auto">

                    <source src="{{ media }}" type="video/mp4">

                    Désolé, votre navigateur ne prend pas en charge les vidéos intégrées.
                </video>
            
            {% else %}

                <a href="{{ media }}" target="_blank">Voir le fichier</a>

            {% endif %}


            <a href="{{  path('editRessource', {'id':ressource.id}) }}"><i class="far fa-edit"></i></a>
            <a href="{{  path('deleteRessource', {'id':ressource.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement cet ressource ?');"><i class="far fa-trash-alt"></i></a>
        </div>
        <br><br>
{% endfor %}
</div>
<center> 
<h2>Commentaires</h2>
    {% for comment in ressources %}
        <p>Commentaire écrit par {{ "JérémyTest" }} </p>
        <p>{{ "Caesarem scriptis destitutus clandestinis obstaculo et simulationem tractatus incumberet conloquiis scriptis cum nimis id curarum." }}</p>
    {% else %}
        <p>Il n'y a pas encore de commentaire, publiez le premier !</p>
    {% endfor %}
    
</center>

{% endblock %}
