{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>

</style>
<div class="ressource-list text-center">

    {% set media =  asset('uploads/medias/' ~ ressource.media) %}
    {% set ressourceId =  ressource.id %}

        <div class="ressource my-4">
            <h2 class="res-title">{{ ressource.titre }}</h2>
            <p>{{ ressource.contenu }}</p>
            {% if ext == "jpeg" or ext == "jpg" or ext == "png" or ext == "gif" %}
                <img src="{{ media }}" alt="post media" height="auto" width="500">

            {% elseif ext == "mp4" %}
                <video controls width="500" height="auto">

                    <source src="{{ media }}" type="video/mp4">

                    Désolé, votre navigateur ne prend pas en charge les vidéos intégrées.
                </video>
            
            {% else %}

                <a href="{{ media }}" target="_blank">Voir le fichier</a>

            {% endif %}

        </div>
        <br><br>
</div>

{% if app.user %}
    {{ form_start(form) }}

        {{ form_errors(form) }}
        {{ form_row(form.Content, { 'label': 'Commentez!','attr': {'value' : ''} }) }}
        {{ form_row(form.Envoyer) }}

    {{ form_end(form) }}

{% else %}
    <p>Connectez-vous si vous souhaitez commenter !</p>
{% endif %}
<div class="commentaires">
{% for comment in comments %}
    <div class="comment">
        {% for user in users %}
            {% if comment.idUser == user.id %}
                <p><strong>{{user.username}}</strong> le {{comment.date|date("d/m/Y") }}</p> 
            {% endif %}
        {% endfor %}

        {{comment.content}}

    </div>
{% endfor %}

</div>

{% endblock %}
