{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<style>

</style>



<div class="ressource-list text-center">
<h1>Outil de recherche</h1>

<div class="w-25 mx-auto my-3">
{{ form(form) }}
</div>

{% if ressources|length > 0 %}

{% for ressource in ressources %}
    {% set media =  asset('uploads/medias/' ~ ressource.media) %}
    {% set ressourceId =  ressource.id %}
    {% set ext =  extension[ressourceId] %}
    <hr>
        <div class="ressource">
            <h2 class="res-title"><a href="{{path('viewRessource', {'id':ressourceId})}}">{{ ressource.titre }}</a></h2>
            <p>{{ ressource.contenu }}</p>
            {% if ext == "jpeg" or ext == "jpg" or ext == "png" or ext == "gif" %}
                <img src="{{ media }}" alt="post media" height="auto" width="500">

            {% elseif ext == "mp4" %}
                <video controls width="500" height="auto">

                    <source src="{{ media }}" type="video/mp4">

                    Désolé, votre navigateur ne prend pas en charge les vidéos intégrées.
                </video>
            
            {% else %}

                <a href="{{ media }}" target="_blank">Voir le fichier</a>

            {% endif %}


        </div>
        <br><br>
{% endfor %}

{% else %}

    <h2>Aucune ressource trouvée !</h2>
{% endif %}
</div>

{% endblock %}
