{% extends 'base.html.twig' %}

{% block title %}Ressources{% endblock %}

{% block body %}
			<div class="table-responsive">
				<table class="table rightsidemenu">
								<tr colspan="10" bgcolor="#4DB849">
									<th>Id</th>
									<th>Titre</th>
									<th>Contenu</th>
									<th>Media</th>
									<th>Pubblication</th>
									<th>Utilisateur</th>
									<th>Categorie</th>
									<th>Statut</th>
									<th>Supprimer</th>
									<th>Suspendre</th>
									<th>Publier</th>
								</tr>
                                {% for ressource in ressources %}
                                

                                <tr>
                                    <th>{{ ressource.id}}</th>
                                    <th>{{ ressource.titre}}</th>
                                    <th>{{ ressource.contenu}}</th>
                                    <th><a target="_blank" href="{{  path('viewRessource', {'id':ressource.id}) }}">{{ ressource.media}}</a></th>
                                    <th>{{ ressource.date|date("d/m/Y à h:i") }}</th>
                                    <th>
										{% for user in users %}
											{% if user.id ==  ressource.iduser %}
												id: {{ ressource.iduser}} <br>
												user: {{user.username}}
											{% endif %}
										{% endfor %}
                                    </th>
                                    <th>{{ ressource.categorie}}</th>
                                    <th>{{ ressource.statut}}</th>
									<th><a class="btn btn-outline-danger" href="{{  path('RessourceDelete', {'id':ressource.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer définitivement cet ressource ?');"><i class="fas fa-trash-alt fa-lg"></i></th>
									<th><a class="btn btn-outline-warning" href="{{  path('RessourceSuspend', {'id':ressource.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir suspendre cet ressource ?');"><i class="fas fas fa-ban fa-lg"></i></th>
									<th><a class="btn btn-outline-success" href="{{  path('RessourcePublish', {'id':ressource.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir publier cet ressource ?');"><i class="fas fa-plus fa-lg"></i></th>
                                </tr>

                                {% endfor %}
				</table>

			</div>
{% endblock %}
